rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // A user can read and update their own document
      allow read, update: if request.auth.uid == userId;
      // A new user can create their own document
      allow create: if request.auth.uid == userId;
      // An admin can read all user documents
      allow list, get: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
